# {{ ansible_managed }}


# "local" is for Unix domain socket connections only
local   all           all                                 trust

# Local connections:
host    all           postgres    127.0.0.1/32            trust
host    all           all         ::1/128                 trust

{% if postgresql_ha is defined %}
# Entries for repmgr
local   replication   repmgr                              trust
local   repmgr        repmgr                              trust
host    replication   repmgr      127.0.0.1/32            trust
host    repmgr        repmgr      127.0.0.1/32            trust
{% for host in play_hosts %}
host    replication   repmgr      {{ hostvars[host]['ansible_ssh_host'] }}/32          trust
host    repmgr        repmgr      {{ hostvars[host]['ansible_ssh_host'] }}/32          trust
{% endfor %}
{% endif %}

